@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    background: rgb(217, 225, 84);
    background: linear-gradient(90deg, rgba(217, 225, 84, 1) 35%, rgba(16, 255, 31, 1) 52%, rgba(255, 200, 0, 1) 67%);
    min-height: 100vh;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.main {
    margin: 0 auto;
    display: flex;
}

.card__main {
    margin: 0 auto;
    border-radius: 20px;
    width: 680px;
    height: 432px;
    background-color: red;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr 60px;
    grid-template-rows: 20px 1fr 1fr 1fr 20px;
}

.card__main--bank {
    grid-column-start: 4;
    grid-row-start: 2;
    background-color: chartreuse;
    font-size: 40px;
}

.card__main--chip {
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: chartreuse;
    font-size: 40px;
    border-radius: 8px;
}

.card__main--owner {
    margin-top: 50px;
    height: 50px;
    grid-column-start: 2;
    grid-row-start: 4;
    background-color: yellow;
}

input {
    width: 100%;
    height: 100%;
    font-size: 28px;
}

.card__main--input {
    height: 30px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    background-color: white;
}
.card__main--button {
    height: 36px;
    width: 100%;
    grid-column-start: 4;
    grid-row-start: 4;
    background-color: white;
}
.card__main--type{
    margin: 50px 0 0 60px;
    background-color: blue;
    grid-column-start: 4;
    grid-row-start: 4;
    background-size: 100%;
}
